#image {
    display: flex;
    flex-wrap: wrap;
}

#image img {
    width:19%;
    margin:0.45%;
}

p {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px;
    padding-bottom: 20px;
    margin: 2%;
    color: rgb(0, 76, 255);
}